body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

li {
  font-size: 20px;
}

button {
  cursor: pointer;
}
.delete-form {
  display: inline-block;
}

.remove-button {
  background: none;
  border: none;
}