<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Inventory Users</title>
</head>
<body>
  <h1>Inventory Users</h1>
  <a href="/users/new"><button>Add User</button></a>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <a href="/users/<%= user._id %>"><%= user.userName %></a>
      </li>
    <% }) %>
  </ul>
  <a href="/"><button>Back</button></a>
</body>
</html>